body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
}

.all-content {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.fridge{
    max-width: 1215px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 0 0 30px -15px;
    /* background-color: white; */

}

.food {
    padding-top: 25px;
    max-width: 227px;
    min-height: 300px;
    margin: 15px 0px 0 15px;
    border: solid 2px rgb(148, 146, 146);
    border-radius: 40px;
    flex: 1 1 auto;
}

.food-name {
    margin-top: 30px;
    font-weight: 600;
}

.food>img {
    width: 200px;
}

hr + p{
    font-weight: 700;
}