li {
    display: inline-block;
    background-color: #ebebeb;
    box-sizing:border-box;
    padding: 6px 8px;
    width: 62px;
    text-align: center;
    font-size: 24px;
}

.red {
    color: red;
}