body{
    font-family: Arial, Helvetica, sans-serif;
}
/* 
h1{
    max-width: max-content;
} */

.all-content {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.fridge{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.food>img {
    width: 200px;
}